:root {
  --clr-graylight: #faf2f6;
  --clr-graymed: #78909c;
  --clr-graydark: #37474f;
  --clr-primary: #56c0f3;
  --clr-primaryhover: #13acf3;
  --clr-primaryfocus: #267fa8;
  --clr-primarydark: #0d47a1;
  --clr-violet: #7986cb;
  --clr-blue: #e3f2fd;
  --radius: 0.5rem;
  --padding: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--clr-graydark);
  overflow: hidden;
}
